<li class="card" 
    [attr.card-id]="card._id"
    [attr.card-order]="card.order"
    (click)="editCard()">
    <div class="card-name">
        <span [innerHtml]="card.title" 
            [style.display]="editingCard ? 'none' : ''">
        </span>

        <div class="card-actions">
            <i class="fa fa-trash card-delete-btn" (click)="deleteCard($event)" 
                [style.display]="editingCard ? 'none' : ''"></i>

            <i class="fa fa-pencil card-edit-btn" (click)="editCardDetails($event)" 
                [style.display]="editingCard ? 'none' : ''"></i>
        </div>
    </div>
    
    <textarea
        [style.display]="editingCard ? '' : 'none' "
        (keydown)="blurOnEnter($event)"
        (blur)="updateCard()"
        [(ngModel)]="card.title" ></textarea>
    
</li>
<div class="card-details" [style.display]="editingCardDetails ? '' : 'none' ">
    <div class="card-description">
        <label>Description</label>
        <textarea
            class="description"
            (keydown)="blurOnEnter($event)"
            (blur)="updateCard()"
            [(ngModel)]="card.description" ></textarea>
    </div>

    <div class="card-description">
        <label>Start Date</label>
        <input type="date" name="startDate" 
            (keydown)="blurOnEnter($event)"
            (blur)="updateCard()"
            [(ngModel)]="card.startDate">
    </div>
</div>